--
-- PostgreSQL database dump
--

\restrict uP7gxqxTWi3u1moQFsWvJFCMIccXNJWGhWKd5IB6LyyhC4ICE9g30cL6e9Np7vf

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: buffet_empleados; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.buffet_empleados (
    buffet_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.buffet_empleados OWNER TO navvirtual_user;

--
-- Name: buffets; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.buffets (
    id bigint NOT NULL,
    evento_id bigint NOT NULL,
    propietario_id bigint
);


ALTER TABLE public.buffets OWNER TO navvirtual_user;

--
-- Name: buffets_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.buffets ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.buffets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: compras; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.compras (
    id bigint NOT NULL,
    codigo_boleta character varying(255),
    estado character varying(255) NOT NULL,
    fecha timestamp(6) without time zone NOT NULL,
    mercado_pago_payment_id character varying(255),
    total numeric(38,2) NOT NULL,
    usuario_id bigint NOT NULL,
    CONSTRAINT compras_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'PAGADA'::character varying, 'RECHAZADA'::character varying])::text[])))
);


ALTER TABLE public.compras OWNER TO navvirtual_user;

--
-- Name: compras_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.compras ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.compras_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comunicados; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.comunicados (
    id bigint NOT NULL,
    fecha timestamp(6) without time zone NOT NULL,
    mensaje text NOT NULL,
    evento_id bigint NOT NULL,
    gerente_id bigint NOT NULL
);


ALTER TABLE public.comunicados OWNER TO navvirtual_user;

--
-- Name: comunicados_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.comunicados ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comunicados_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conferencias; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.conferencias (
    id bigint NOT NULL,
    descripcion text,
    horario timestamp(6) without time zone NOT NULL,
    tipo character varying(255) NOT NULL,
    titulo character varying(255) NOT NULL,
    evento_id bigint NOT NULL,
    CONSTRAINT conferencias_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['CHARLA'::character varying, 'MUESTRA_ARTISTICA'::character varying, 'MUESTRA_PRODUCTO'::character varying, 'OTRO'::character varying])::text[])))
);


ALTER TABLE public.conferencias OWNER TO navvirtual_user;

--
-- Name: conferencias_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.conferencias ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conferencias_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: configuracion_sitio; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.configuracion_sitio (
    id bigint NOT NULL,
    imagen_portada_url character varying(255)
);


ALTER TABLE public.configuracion_sitio OWNER TO navvirtual_user;

--
-- Name: configuracion_sitio_imagenes; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.configuracion_sitio_imagenes (
    configuracion_id bigint NOT NULL,
    url character varying(255),
    orden integer NOT NULL,
    CONSTRAINT configuracion_sitio_imagenes_orden_check CHECK ((orden >= 0))
);


ALTER TABLE public.configuracion_sitio_imagenes OWNER TO navvirtual_user;

--
-- Name: detalle_compras; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.detalle_compras (
    id bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(38,2) NOT NULL,
    compra_id bigint NOT NULL,
    producto_id bigint NOT NULL
);


ALTER TABLE public.detalle_compras OWNER TO navvirtual_user;

--
-- Name: detalle_compras_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.detalle_compras ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.detalle_compras_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: eventos; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.eventos (
    id bigint NOT NULL,
    descripcion text,
    fecha_fin timestamp(6) without time zone NOT NULL,
    fecha_inicio timestamp(6) without time zone NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.eventos OWNER TO navvirtual_user;

--
-- Name: eventos_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.eventos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.eventos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotspots; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.hotspots (
    id bigint NOT NULL,
    pitch double precision NOT NULL,
    tipo character varying(255) NOT NULL,
    yaw double precision NOT NULL,
    panorama_destino_id bigint,
    panorama_origen_id bigint NOT NULL,
    stand_id bigint,
    CONSTRAINT hotspots_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['NAVEGACION'::character varying, 'STAND'::character varying, 'TIENDA'::character varying, 'ESCENARIO'::character varying])::text[])))
);


ALTER TABLE public.hotspots OWNER TO navvirtual_user;

--
-- Name: hotspots_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.hotspots ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotspots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: opciones_respuesta; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.opciones_respuesta (
    id bigint NOT NULL,
    es_correcta boolean NOT NULL,
    texto character varying(255) NOT NULL,
    pregunta_id bigint NOT NULL
);


ALTER TABLE public.opciones_respuesta OWNER TO navvirtual_user;

--
-- Name: opciones_respuesta_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.opciones_respuesta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.opciones_respuesta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: panoramas; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.panoramas (
    id bigint NOT NULL,
    es_punto_inicio boolean NOT NULL,
    imagen_url character varying(255) NOT NULL,
    nombre character varying(255) NOT NULL,
    evento_id bigint NOT NULL
);


ALTER TABLE public.panoramas OWNER TO navvirtual_user;

--
-- Name: panoramas_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.panoramas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.panoramas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: preguntas; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.preguntas (
    id bigint NOT NULL,
    texto text NOT NULL,
    stand_id bigint NOT NULL
);


ALTER TABLE public.preguntas OWNER TO navvirtual_user;

--
-- Name: preguntas_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.preguntas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.preguntas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: productos; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.productos (
    id bigint NOT NULL,
    categoria character varying(255) NOT NULL,
    descripcion text,
    descuento numeric(38,2),
    imagen_url character varying(255),
    nombre character varying(255) NOT NULL,
    precio numeric(38,2) NOT NULL,
    stand_id bigint,
    vendedor_id bigint NOT NULL,
    buffet_id bigint,
    evento_id bigint,
    CONSTRAINT productos_categoria_check CHECK (((categoria)::text = ANY ((ARRAY['STAND'::character varying, 'CONFITERIA'::character varying, 'ENTRADA'::character varying])::text[])))
);


ALTER TABLE public.productos OWNER TO navvirtual_user;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.productos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.productos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.roles OWNER TO navvirtual_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stand_empleados; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.stand_empleados (
    stand_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.stand_empleados OWNER TO navvirtual_user;

--
-- Name: stands; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.stands (
    id bigint NOT NULL,
    descripcion text,
    imagen_portada_url character varying(255),
    nombre character varying(255) NOT NULL,
    empleado_id bigint,
    evento_id bigint NOT NULL,
    video_url character varying(255),
    propietario_id bigint
);


ALTER TABLE public.stands OWNER TO navvirtual_user;

--
-- Name: stands_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.stands ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stands_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_roles; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.usuario_roles (
    usuario_id bigint NOT NULL,
    rol_id bigint NOT NULL
);


ALTER TABLE public.usuario_roles OWNER TO navvirtual_user;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.usuarios (
    id bigint NOT NULL,
    apellido character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    nombre character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    foto_perfil_url character varying(255)
);


ALTER TABLE public.usuarios OWNER TO navvirtual_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.usuarios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: votos; Type: TABLE; Schema: public; Owner: navvirtual_user
--

CREATE TABLE public.votos (
    id bigint NOT NULL,
    stand_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.votos OWNER TO navvirtual_user;

--
-- Name: votos_id_seq; Type: SEQUENCE; Schema: public; Owner: navvirtual_user
--

ALTER TABLE public.votos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.votos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: buffet_empleados; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.buffet_empleados (buffet_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: buffets; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.buffets (id, evento_id, propietario_id) FROM stdin;
1	1	1
2	1	3
3	3	2
\.


--
-- Data for Name: compras; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--



--
-- Data for Name: comunicados; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.comunicados (id, fecha, mensaje, evento_id, gerente_id) FROM stdin;
1	2026-08-25 06:04:09.85894	Presentacion de Stands dentro de una hora 	1	1
\.


--
-- Data for Name: conferencias; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.conferencias (id, descripcion, horario, tipo, titulo, evento_id) FROM stdin;
1	Presentacion de los Stands del IES Nuevo Horizonte 	2026-08-25 04:04:00	CHARLA	Presentacion de Stands	1
\.


--
-- Data for Name: configuracion_sitio; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.configuracion_sitio (id, imagen_portada_url) FROM stdin;
1	http://localhost:8082/uploads/27cf4a4e-d5d8-4cc9-b8bb-9717d29ca41c.jpg
\.


--
-- Data for Name: configuracion_sitio_imagenes; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.configuracion_sitio_imagenes (configuracion_id, url, orden) FROM stdin;
1	http://localhost:8082/uploads/b2e3f5b1-d9df-4372-be09-031694077e99.jpg	0
1	http://localhost:8082/uploads/fa00b22e-df40-4940-9b2e-0cf41498a8ea.jpg	1
\.


--
-- Data for Name: detalle_compras; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.detalle_compras (id, cantidad, precio_unitario, compra_id, producto_id) FROM stdin;
1	1	5000.00	1	1
2	1	5000.00	2	1
3	1	5000.00	3	1
4	1	5000.00	4	1
5	1	5000.00	5	1
6	1	5000.00	6	1
7	2	5000.00	7	1
8	1	5000.00	8	1
9	1	5000.00	9	1
10	1	5000.00	10	1
11	1	5000.00	11	1
12	1	5000.00	12	1
13	1	5000.00	13	1
14	1	2000.00	14	8
15	1	4000.00	14	11
\.


--
-- Data for Name: eventos; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.eventos (id, descripcion, fecha_fin, fecha_inicio, nombre) FROM stdin;
1	Feria virtual de carreras de salud	2026-09-03 20:00:00	2026-09-01 10:00:00	Convenci├│n Salud 2026
3	Evento de Anime,Kpop y Videojuegos .	2026-08-23 21:26:00	2026-08-22 21:26:00	Anime-K.O
4	Exposici├│n de carreras del Instituto Superior Nuevo Horizonte 	2026-08-27 10:02:00	2026-08-26 15:01:00	Exposiciones de Carreras Nuevo Horizonte 
\.


--
-- Data for Name: hotspots; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.hotspots (id, pitch, tipo, yaw, panorama_destino_id, panorama_origen_id, stand_id) FROM stdin;
26	0	STAND	0	\N	8	1
27	0	NAVEGACION	0	8	12	\N
29	0	NAVEGACION	0	8	13	\N
30	0	NAVEGACION	0	13	8	\N
31	0	NAVEGACION	0	12	8	\N
32	10	STAND	10	\N	8	1
33	2	NAVEGACION	2	8	12	\N
34	-1.3	NAVEGACION	180.5	8	12	\N
\.


--
-- Data for Name: opciones_respuesta; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.opciones_respuesta (id, es_correcta, texto, pregunta_id) FROM stdin;
1	t	BCG	1
2	f	Antitet├ínica adulta	1
3	f	Fiebre amarilla	1
4	f	Si	2
5	t	No 	2
6	t	Codigo	3
7	f	pc	3
8	f	3 a├▒os	4
9	t	4 a├▒os 	4
\.


--
-- Data for Name: panoramas; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.panoramas (id, es_punto_inicio, imagen_url, nombre, evento_id) FROM stdin;
11	f	http://localhost:8082/uploads/eb65d008-6cf7-4b2d-a4b2-ba0d0a1dba1a.png	pantalla	1
12	f	http://localhost:8082/uploads/6ddd4735-2763-4fd2-b757-65294a3d44ff.png	pantalla2	1
8	f	http://localhost:8082/uploads/00b11f47-6b5a-4e00-a533-aea4a786c643.png	medio	1
13	t	http://localhost:8082/uploads/165b0e1f-b768-42bd-b6ae-b25860f7f7f4.png	Entrada	1
\.


--
-- Data for Name: preguntas; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.preguntas (id, texto, stand_id) FROM stdin;
1	┬┐Qu├® vacuna es obligatoria en el calendario de enfermer├¡a pedi├ítrica?	1
2	Es obligatorio utilizar cofia?	1
3	Que es la programacion 	1
4	Cuanto dura la carrera?	1
\.


--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.roles (id, nombre) FROM stdin;
1	ROLE_USUARIO
2	ROLE_EMPLEADO
4	ROLE_DUENIO_STAND
5	ROLE_EMPLEADO_STAND
6	ROLE_DUENIO_BUFFET
7	ROLE_EMPLEADO_BUFFET
8	ROLE_SUPERADMIN
\.


--
-- Data for Name: stand_empleados; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.stand_empleados (stand_id, usuario_id) FROM stdin;
1	3
\.


--
-- Data for Name: stands; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.stands (id, descripcion, imagen_portada_url, nombre, empleado_id, evento_id, video_url, propietario_id) FROM stdin;
2	Programacion	\N	Stand Desarrollo de Software	\N	1	\N	2
3	Stand de Anime, ropa y comida 	\N	Kalesi-Pop Store	\N	3	\N	1
1	Conoc├® la carrera de enfermer├¡a: vacunas, cuidados y m├ís	http://localhost:8082/uploads/cd8047d5-a36e-492a-8203-7d0e5a3de5d6.jpg	Stand de Enfermer├¡a	1	1	http://localhost:8082/uploads/dfcf98ab-01a6-4fbb-a2a1-2fa02a4edcf9.mp4	1
\.


--
-- Data for Name: usuario_roles; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.usuario_roles (usuario_id, rol_id) FROM stdin;
1	1
1	8
1	4
1	6
2	1
3	1
3	5
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.usuarios (id, apellido, email, nombre, password, foto_perfil_url) FROM stdin;
1	Test	ale@test.com	Ale	$2a$10$QE/NgrRk1u0DorTNvs5qh.riLHaBIX0G.xkEMNScHy80B2vDSGp.2	\N
2	Alvarez	Chatran@12.com	Gabriel	$2a$10$DSJUu1zX9SzEd4jz8y64wuFx.uG6dZRtU6d.YEIzrLuxrvD7uPr.K	\N
3	Cabezas	Gato@01.com	Lolipop	$2a$10$5yadCMMYej/.JxudIRd8Vu23kjJ0el5d.ncroAEXMkVkOV1y1sTJy	\N
\.


--
-- Data for Name: votos; Type: TABLE DATA; Schema: public; Owner: navvirtual_user
--

COPY public.votos (id, stand_id, usuario_id) FROM stdin;
1	1	1
\.


--
-- Name: buffets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.buffets_id_seq', 3, true);


--
-- Name: compras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.compras_id_seq', 14, true);


--
-- Name: comunicados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.comunicados_id_seq', 1, true);


--
-- Name: conferencias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.conferencias_id_seq', 1, true);


--
-- Name: detalle_compras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.detalle_compras_id_seq', 15, true);


--
-- Name: eventos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.eventos_id_seq', 4, true);


--
-- Name: hotspots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.hotspots_id_seq', 66, true);


--
-- Name: opciones_respuesta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.opciones_respuesta_id_seq', 9, true);


--
-- Name: panoramas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.panoramas_id_seq', 13, true);


--
-- Name: preguntas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.preguntas_id_seq', 4, true);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.productos_id_seq', 73, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 8, true);


--
-- Name: stands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.stands_id_seq', 3, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 3, true);


--
-- Name: votos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: navvirtual_user
--

SELECT pg_catalog.setval('public.votos_id_seq', 1, true);


--
-- Name: buffet_empleados buffet_empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.buffet_empleados
    ADD CONSTRAINT buffet_empleados_pkey PRIMARY KEY (buffet_id, usuario_id);


--
-- Name: buffets buffets_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.buffets
    ADD CONSTRAINT buffets_pkey PRIMARY KEY (id);


--
-- Name: compras compras_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT compras_pkey PRIMARY KEY (id);


--
-- Name: comunicados comunicados_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.comunicados
    ADD CONSTRAINT comunicados_pkey PRIMARY KEY (id);


--
-- Name: conferencias conferencias_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.conferencias
    ADD CONSTRAINT conferencias_pkey PRIMARY KEY (id);


--
-- Name: configuracion_sitio_imagenes configuracion_sitio_imagenes_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.configuracion_sitio_imagenes
    ADD CONSTRAINT configuracion_sitio_imagenes_pkey PRIMARY KEY (configuracion_id, orden);


--
-- Name: configuracion_sitio configuracion_sitio_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.configuracion_sitio
    ADD CONSTRAINT configuracion_sitio_pkey PRIMARY KEY (id);


--
-- Name: detalle_compras detalle_compras_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.detalle_compras
    ADD CONSTRAINT detalle_compras_pkey PRIMARY KEY (id);


--
-- Name: eventos eventos_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.eventos
    ADD CONSTRAINT eventos_pkey PRIMARY KEY (id);


--
-- Name: hotspots hotspots_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.hotspots
    ADD CONSTRAINT hotspots_pkey PRIMARY KEY (id);


--
-- Name: opciones_respuesta opciones_respuesta_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.opciones_respuesta
    ADD CONSTRAINT opciones_respuesta_pkey PRIMARY KEY (id);


--
-- Name: panoramas panoramas_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.panoramas
    ADD CONSTRAINT panoramas_pkey PRIMARY KEY (id);


--
-- Name: preguntas preguntas_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.preguntas
    ADD CONSTRAINT preguntas_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: stand_empleados stand_empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stand_empleados
    ADD CONSTRAINT stand_empleados_pkey PRIMARY KEY (stand_id, usuario_id);


--
-- Name: stands stands_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stands
    ADD CONSTRAINT stands_pkey PRIMARY KEY (id);


--
-- Name: votos ukjp64b20nhnbuaqv0bkacref94; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.votos
    ADD CONSTRAINT ukjp64b20nhnbuaqv0bkacref94 UNIQUE (usuario_id, stand_id);


--
-- Name: usuarios ukkfsp0s1tflm1cwlj8idhqsad0; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT ukkfsp0s1tflm1cwlj8idhqsad0 UNIQUE (email);


--
-- Name: roles ukldv0v52e0udsh2h1rs0r0gw1n; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT ukldv0v52e0udsh2h1rs0r0gw1n UNIQUE (nombre);


--
-- Name: compras uktc7vkg5poolek4jmfcl41copl; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT uktc7vkg5poolek4jmfcl41copl UNIQUE (codigo_boleta);


--
-- Name: usuario_roles usuario_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_pkey PRIMARY KEY (usuario_id, rol_id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: votos votos_pkey; Type: CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.votos
    ADD CONSTRAINT votos_pkey PRIMARY KEY (id);


--
-- Name: buffet_empleados fk2cfsibd6ktydd4rxtqpmd9de5; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.buffet_empleados
    ADD CONSTRAINT fk2cfsibd6ktydd4rxtqpmd9de5 FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: hotspots fk2emtdc49rj7vjweo2r1aouusm; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.hotspots
    ADD CONSTRAINT fk2emtdc49rj7vjweo2r1aouusm FOREIGN KEY (stand_id) REFERENCES public.stands(id);


--
-- Name: productos fk3nc6e6ew14sfsq3w1vrx9q54h; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT fk3nc6e6ew14sfsq3w1vrx9q54h FOREIGN KEY (evento_id) REFERENCES public.eventos(id);


--
-- Name: compras fk4lnkw9964v2gf3b2sjbaealqw; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.compras
    ADD CONSTRAINT fk4lnkw9964v2gf3b2sjbaealqw FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: stand_empleados fk4wem9v177y3sy8mccuwjgcggh; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stand_empleados
    ADD CONSTRAINT fk4wem9v177y3sy8mccuwjgcggh FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: hotspots fk5dlvaxf5xevvm3lrbectdnbar; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.hotspots
    ADD CONSTRAINT fk5dlvaxf5xevvm3lrbectdnbar FOREIGN KEY (panorama_destino_id) REFERENCES public.panoramas(id);


--
-- Name: buffets fk7rpb6cs8r0iy07k2w51m193y5; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.buffets
    ADD CONSTRAINT fk7rpb6cs8r0iy07k2w51m193y5 FOREIGN KEY (evento_id) REFERENCES public.eventos(id);


--
-- Name: comunicados fk7sorqq4rx1jnva2v7le7xxo8r; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.comunicados
    ADD CONSTRAINT fk7sorqq4rx1jnva2v7le7xxo8r FOREIGN KEY (evento_id) REFERENCES public.eventos(id);


--
-- Name: buffets fk8nbofu1tpwf8st6grxq922h34; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.buffets
    ADD CONSTRAINT fk8nbofu1tpwf8st6grxq922h34 FOREIGN KEY (propietario_id) REFERENCES public.usuarios(id);


--
-- Name: productos fk9ldwxe2d6e82fy5k9ovg7mn18; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT fk9ldwxe2d6e82fy5k9ovg7mn18 FOREIGN KEY (vendedor_id) REFERENCES public.usuarios(id);


--
-- Name: panoramas fkas6h0s7dmj42e76ubj87ab446; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.panoramas
    ADD CONSTRAINT fkas6h0s7dmj42e76ubj87ab446 FOREIGN KEY (evento_id) REFERENCES public.eventos(id);


--
-- Name: buffet_empleados fkb7nn2uk8fh5plrpryj5svh47p; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.buffet_empleados
    ADD CONSTRAINT fkb7nn2uk8fh5plrpryj5svh47p FOREIGN KEY (buffet_id) REFERENCES public.buffets(id);


--
-- Name: preguntas fkbj5c2oorl18h4xrhd82q56li3; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.preguntas
    ADD CONSTRAINT fkbj5c2oorl18h4xrhd82q56li3 FOREIGN KEY (stand_id) REFERENCES public.stands(id);


--
-- Name: usuario_roles fkbt9i9yrb9ug88xnh82n9m60pr; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT fkbt9i9yrb9ug88xnh82n9m60pr FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- Name: conferencias fkdbd6abw375f0wo5yogyyo2oif; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.conferencias
    ADD CONSTRAINT fkdbd6abw375f0wo5yogyyo2oif FOREIGN KEY (evento_id) REFERENCES public.eventos(id);


--
-- Name: stand_empleados fkfcw3acjj1xph71d07pr5qqppu; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stand_empleados
    ADD CONSTRAINT fkfcw3acjj1xph71d07pr5qqppu FOREIGN KEY (stand_id) REFERENCES public.stands(id);


--
-- Name: productos fkfdwxapj69oh3ae1rj54s2i8nb; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT fkfdwxapj69oh3ae1rj54s2i8nb FOREIGN KEY (buffet_id) REFERENCES public.buffets(id);


--
-- Name: votos fkgc5gm7l9lx4nmar5p33i4jvso; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.votos
    ADD CONSTRAINT fkgc5gm7l9lx4nmar5p33i4jvso FOREIGN KEY (stand_id) REFERENCES public.stands(id);


--
-- Name: comunicados fkmk9daw96ieah1yx8x3iypmon7; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.comunicados
    ADD CONSTRAINT fkmk9daw96ieah1yx8x3iypmon7 FOREIGN KEY (gerente_id) REFERENCES public.usuarios(id);


--
-- Name: detalle_compras fkobinn960qd4nxk1b3b0n6aps1; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.detalle_compras
    ADD CONSTRAINT fkobinn960qd4nxk1b3b0n6aps1 FOREIGN KEY (producto_id) REFERENCES public.productos(id);


--
-- Name: opciones_respuesta fkoy60ltelipmvxyw8dhlt7acsl; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.opciones_respuesta
    ADD CONSTRAINT fkoy60ltelipmvxyw8dhlt7acsl FOREIGN KEY (pregunta_id) REFERENCES public.preguntas(id);


--
-- Name: hotspots fkq7bddwxioa4b911fphp9bnlpe; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.hotspots
    ADD CONSTRAINT fkq7bddwxioa4b911fphp9bnlpe FOREIGN KEY (panorama_origen_id) REFERENCES public.panoramas(id);


--
-- Name: votos fks5o2luq73xtdp6xc41fj4ml9c; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.votos
    ADD CONSTRAINT fks5o2luq73xtdp6xc41fj4ml9c FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: detalle_compras fks7ksdchwhuo5bv58t28iti0f0; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.detalle_compras
    ADD CONSTRAINT fks7ksdchwhuo5bv58t28iti0f0 FOREIGN KEY (compra_id) REFERENCES public.compras(id);


--
-- Name: configuracion_sitio_imagenes fksjqkjtgk6aj8f16olps0ehvdj; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.configuracion_sitio_imagenes
    ADD CONSTRAINT fksjqkjtgk6aj8f16olps0ehvdj FOREIGN KEY (configuracion_id) REFERENCES public.configuracion_sitio(id);


--
-- Name: stands fkt90mu2nlb590u1v6m1uyjxngy; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stands
    ADD CONSTRAINT fkt90mu2nlb590u1v6m1uyjxngy FOREIGN KEY (empleado_id) REFERENCES public.usuarios(id);


--
-- Name: stands fktrpukbxwcgeaeve47vmt9m8fu; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stands
    ADD CONSTRAINT fktrpukbxwcgeaeve47vmt9m8fu FOREIGN KEY (propietario_id) REFERENCES public.usuarios(id);


--
-- Name: usuario_roles fkuu9tea04xb29m2km5lwe46ua; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT fkuu9tea04xb29m2km5lwe46ua FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: productos fkv415232g15nvyt4vukujgcki; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT fkv415232g15nvyt4vukujgcki FOREIGN KEY (stand_id) REFERENCES public.stands(id);


--
-- Name: stands fkyrhh8ev8hr2f0m3hdfgqtgrn; Type: FK CONSTRAINT; Schema: public; Owner: navvirtual_user
--

ALTER TABLE ONLY public.stands
    ADD CONSTRAINT fkyrhh8ev8hr2f0m3hdfgqtgrn FOREIGN KEY (evento_id) REFERENCES public.eventos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict uP7gxqxTWi3u1moQFsWvJFCMIccXNJWGhWKd5IB6LyyhC4ICE9g30cL6e9Np7vf

